[submodule "catkin_ws/src/serial"]
	path = catkin_ws/src/serial
	url = https://github.com/wjwwood/serial.git
[submodule "catkin_ws/src/four_wheel_steering_msgs"]
	path = catkin_ws/src/four_wheel_steering_msgs
	url = https://github.com/ros-drivers/four_wheel_steering_msgs.git
[submodule "catkin_ws/src/geometry2"]
	path = catkin_ws/src/geometry2
	url = https://github.com/ros/geometry2.git
[submodule "catkin_ws/src/navigation"]
	path = catkin_ws/src/navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "catkin_ws/src/navigation_msgs"]
	path = catkin_ws/src/navigation_msgs
	url = https://github.com/ros-planning/navigation_msgs.git
[submodule "catkin_ws/src/openslam_gmapping"]
	path = catkin_ws/src/openslam_gmapping
	url = https://github.com/ros-perception/openslam_gmapping.git
[submodule "catkin_ws/src/ros_controllers"]
	path = catkin_ws/src/ros_controllers
	url = https://github.com/ros-controls/ros_controllers.git
[submodule "catkin_ws/src/rplidar_ros"]
	path = catkin_ws/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "catkin_ws/src/slam_gmapping"]
	path = catkin_ws/src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "catkin_ws/src/teleop_twist_keyboard"]
	path = catkin_ws/src/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard.git
[submodule "catkin_ws/src/urdf_geometry_parser"]
	path = catkin_ws/src/urdf_geometry_parser
	url = https://github.com/ros-controls/urdf_geometry_parser.git
[submodule "pico/pico-sdk"]
	path = pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "catkin_ws/src/hector_slam"]
	path = catkin_ws/src/hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
[submodule "catkin_ws/src/laser_filters"]
	path = catkin_ws/src/laser_filters
	url = https://github.com/ros-perception/laser_filters.git
	branch = noetic-devel
[submodule "catkin_ws/src/robot_localization"]
	path = catkin_ws/src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
	branch = noetic-devel
[submodule "catkin_ws/src/geographic_info"]
	path = catkin_ws/src/geographic_info
	url = https://github.com/ros-geographic-info/geographic_info.git
[submodule "catkin_ws/unique_identifier"]
	path = catkin_ws/unique_identifier
	url = https://github.com/ros-geographic-info/unique_identifier.git
[submodule "catkin_ws/src/unique_identifier"]
	path = catkin_ws/src/unique_identifier
	url = https://github.com/ros-geographic-info/unique_identifier.git
[submodule "catkin_ws/src/ddynamic_reconfigure"]
	path = catkin_ws/src/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure.git
[submodule "catkin_ws/src/realsense-ros"]
	path = catkin_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
