<launch>
    <!-- Load robot model-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find prototipo1)/urdf/robot.urdf.xacro'" />
    <!-- Converts URDF model in TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Load controller settings -->
	<rosparam file="$(find prototipo1)/config/diff_drive_controller_params.yaml" command="load"/>
    <!-- Load motors settings -->
    <rosparam file="$(find prototipo1)/config/joint_limits.yaml" command="load"/>

    <!-- Hardware interface -->
    <node name="hardware_interface" pkg="prototipo1" type="robot_hw_if_node" output="screen"> 
	    <remap from="/mobile_base_controller/cmd_vel" to="/cmd_vel" />
	</node>

    <!-- EKF Localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find prototipo1)/config/ekf_localization_params.yaml" />
    </node>

    <!-- Controller Manager 
    joints_update configures a JointStateController 
    mobile_base_controller configures a DiffDriveController -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /joints_update
            /mobile_base_controller">
    </node>

    <!-- Launch RVIZ with config file for visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find prototipo1)/rviz/model_visualization.rviz" />

</launch>