<launch>
    <!-- Load robot model-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find prototipo1)/urdf/robot.urdf.xacro'" />
    <!-- Converts URDF model in TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Load controller settings -->
	<rosparam file="$(find prototipo1)/config/diff_drive_controller_params.yaml" command="load"/>

    <!-- Load motors settings -->
    <rosparam file="$(find prototipo1)/config/joint_limits.yaml" command="load"/>

    <!-- Hardware interface -->
    <node name="hardware_interface" pkg="prototipo1" type="robot_hw_if_node" output="screen"> 
        <remap from="/mobile_base_controller/cmd_vel" to="/cmd_vel" />
    </node>

    <!-- Camera setup --> 
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="unite_imu_method" value="copy"/>
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
        <!-- <arg name="json_file_path" value="$(find prototipo1)/config/calibration.json"/>
        <arg name="odom_frame_id" value="odom"/>
        <arg name="base_frame_id" value="map"/> -->
    </include>

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu"/>
    </node>

    <!-- EKF Localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find prototipo1)/config/localization.yaml" />
    </node>

    <!-- Controller Manager 
    joints_update configures a JointStateController 
    mobile_base_controller configures a DiffDriveController -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /joints_update
            /mobile_base_controller">
    </node>

    <!-- LiDAR setup, publishes in /scan topic -->
    <include file="$(find prototipo1)/launch/rplidar.launch">
    </include>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    	<rosparam file="$(find prototipo1)/config/laser_filter.yaml" command="load"/>
	<remap from="/scan" to ="/base_scan"/>
	<remap from="/scan_filtered" to="/scan"/>
    </node>

    <!-- SLAM configuration -->
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />
	<param name="angularUpdate" value="0.5" />
	<param name="linearUpdate" value="0.5" />
	<param name="lskip" value="0" />
	<param name="xmax" value="1" />
	<param name="xmin" value="-1" />
	<param name="ymax" value="1" />
	<param name="ymin" value="-1" />
	<param name="map_update_interval" value="1.0" />
	<param name="delta" value="0.01" />
	</node> 

    <!-- Manual robot control -->
    <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen"/> -->

    <!-- Launch RVIZ with config file for visualization -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find prototipo1)/rviz/model_visualization.rviz" /> -->

    
</launch>
