<launch>
    <!-- Load robot model-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find prototipo1)/urdf/robot.urdf.xacro'" />
    <!-- Converts URDF model in TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Load controller settings -->
	<rosparam file="$(find prototipo1)/config/diff_drive_controller_params.yaml" command="load"/>

    <!-- Load motors settings -->
    <rosparam file="$(find prototipo1)/config/joint_limits.yaml" command="load"/>

    <!-- Hardware interface -->
    <node name="hardware_interface" pkg="prototipo1" type="robot_hw_if_node" output="screen"> 
	    <remap from="/mobile_base_controller/cmd_vel" to="/cmd_vel" />
	</node>

    <!-- Camera setup -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="unite_imu_method" value="linear_interpolation"/>
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
    </include>

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu"/>
    </node>

    <!-- EKF Localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find prototipo1)/config/localization.yaml" />
    </node>

    <!-- Controller Manager 
    joints_update configures a JointStateController 
    mobile_base_controller configures a DiffDriveController -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /joints_update
            /mobile_base_controller">
    </node>
</launch>
